// Materialize
@import '../../node_modules/materialize-css/dist/css/materialize.min.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Variables
@import 'variables';

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

a:not(.btn):not(nav ul li a) {
    color: var(--pink-2);
    font-weight: bold;
    text-decoration: none;
}

a:not(.btn):not(nav ul li a):hover, a:not(.btn):not(nav ul li a):active {
    color: var(--pink-3);
}

form {
    padding: 1em !important;
    border: 1px solid var(--pink-4);
    border-radius: 2px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--pink-1);
    background-image: linear-gradient(to right bottom, var(--light-bg-gradient-color), var(--dark-bg-gradient-color));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.btn.in-process {
    margin-right: 10px;
}

.justify-content-center {
    justify-content: center;
}
